*{
    margin: 0; 
    padding: 0;
}

body{ 
    font-family: system-ui; 
    color: white; 
    background: #252b37;
}

html { scroll-behavior: smooth; }

p { color: #e5e5e5; }

a,
.btn { transition: all 300ms ease; }





/* =========================================== */
/*       NAVBAR CSS                            */
/* =========================================== */
nav,
.nav-links{
    display: flex;
}

nav{
    justify-content: space-around;
    align-items: center;
    height: 17vh;
}

.nav-links{
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;
}

.nav-links a{
    color: white;
    text-decoration: none;
    text-underline-offset: 7px;
}

.nav-links a:hover{
    color: #c6d9fc;
    text-decoration: underline;
    text-underline-offset: 7px;
}

.logo{
    font-family: cursive;
    font-size: 2rem;
    text-decoration: none;
    color: #fff;
}





/* =========================================== */
/*       HAMBURGER MENU CSS                    */
/* =========================================== */
#hamburger-nav { display: none; }

.hamburger-menu{    
    position: relative;
    display: inline-block;
}

.hamburger-icon{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px; width: 30px;
    cursor: pointer;
}

.hamburger-icon span{
    width: 100%;
    height: 2px;
    background: white;
    transition: all 300ms ease-in-out;
}

.menu-links{
    position: absolute;
    margin-top: 20px;
    top: 100%; right: 0;
    background: #455a84;
    border-radius: 10px;
    width: 1000%;
    max-height: 0;
    overflow: hidden;
    transition: all .3s ease-in-out;
}

.menu-links a{
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    color: white;
    text-decoration: none;
    transition: all .3s ease-in-out;
}

.menu-links a:hover{
    color: #fff;
    background: #252b37;
}

.menu-links li{
    list-style: none;
}

.menu-links.open{
    max-height: 300px;
}

.hamburger-icon.open span:first-child{
    transform: rotate(45deg) translate(10px, 5px);
}
.hamburger-icon.open span:nth-child(2){
    opacity: 0;
}
.hamburger-icon.open span:last-child{
    transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child{
    transform: none;
}
.hamburger-icon span:nth-child{
    opacity: 1;
}
.hamburger-icon span:last-child{
    transform: none;
}





/* =========================================== */
/*       PROFILE HEADER CSS                    */
/* =========================================== */
section{
    padding-top: 4vh;
    height: 96vh;
    margin: 0px 10rem;
    box-sizing: border-box;
    min-height: fit-content;
}

.section__container { display: flex; }

#profile{ 
    display: flex; 
    justify-content: center;
    gap: 5rem;
    height: 80vh;
}

.section__pic__container{
    display: flex;
    height: 400px;
    width: 400px;
    margin: auto 0;
}

.section__pic__container .profile-pic { width: 400px; border-radius: 50%; }

.section__text{
    align-self: center;
    text-align: center;
}

.section__text p { font-weight: 600; }

.section__text__p1 { text-align: center; font-family: monospace; font-size: 1rem; }

.section__text__p2{ 
    font-size: 2rem; 
    margin-top: 1rem; 
    margin-bottom: 1rem;
    font-family: fantasy; 
}

.title{
    font-size: 3rem;
    text-align: center;
    font-family: cursive;
}

#social-container{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
}

.icon{
    width: 2.2rem;
    cursor: pointer;
    transition: .3s ease;
}

#social-container a{
    color: #fff;
}

#social-container i{
    font-size: 2.3rem;
    cursor: pointer;
    transition: .3s ease;
}

#social-container i:hover{
    color: #c6d9fc;
    transform: scale(1.1);
}

.btn-container{
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.btn{
    font-weight: 600;
    transition: all 300ms ease;
    padding: 1rem;
    width: 10rem;
    border-radius: 2rem;
    cursor: pointer;
}

.btn-color-2{
    border: 1px solid #fff;
    background: transparent;
    color: white;
    transition: .3s ease;
}

.btn-color-1{
    border: 1px solid #455a84;
    background: #455a84;
    color: white;
    transition: .3s ease;
}

.btn-color-2:hover{
    background: #455a84;
    border: 1px solid #455a84;
}

.btn-color-1:hover{
    background: transparent;
    border: 1px solid #fff;
}





/* =========================================== */
/*       ABOUT CSS                             */
/* =========================================== */
#about { position: relative; }

.about__container{ 
    gap: 2rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.about__details__container{
    justify-content: center;
    flex-direction: column;
}

.about__container,
.about__details__container{
    display: flex;
}

.about-pic { width: 440px; border-radius: 2rem; }

#about .fa-angle-double-down,
#experience .fa-angle-double-down,
#projects .fa-angle-double-down{
    font-size: 2.5rem;
    font-weight: 900;
    cursor: pointer;
    transition: .3s ease;
}

#about .fa-graduation-cap,
#about .fa-users{
    font-size: 2rem;
    font-weight: 900;
}

.arrow{
    position: absolute;
    right: -5rem; bottom: 2.5rem;
}

.text__container p { font-size: 1.1rem; text-align: justify; } 

.details__container{
    padding: 1.5rem;
    flex: 1;
    background: transparent;
    border-radius: 2rem;
    border: 1.5px solid #fff;
    text-align: center;
}

.section__container{
    gap: 4rem;
    height: 80%;
}

.section__pic__container{
    height: 400px;
    width: 400px;
    margin: auto 0;
}





/* =========================================== */
/*       EXPERIENCE CSS                        */
/* =========================================== */
#experience{
    position: relative;
}

.experience__subtitle{
    color: #ffff;
    font-weight: 600;
    font-size: 1.75rem;
    margin-bottom: 2rem;
}

.experience__details__container{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.article__container{
    display: flex;
    text-align: initial;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 2.5rem;
    justify-content: space-around;
}

.article__container i { font-size: 2.3rem; }

article{
    display: flex;
    width: 10rem;
    justify-content: space-around;
    gap: 0.5rem;
}

article .icon { cursor: default; }





/* =========================================== */
/*       PROJECTS CSS                          */
/* =========================================== */
#projects { position: relative; }

.color__container{
    border-color: #d9d9d9;
    background: transparent;
    width: 300px;
}

.project__img{
    border-radius: 2rem;
    width: 70%; height: 70%;
}

.project__title{
    margin: 1rem;
    color: #fff;
}

.project__btn { color: #fff; }





/* =========================================== */
/*       CONTACT CSS                           */
/* =========================================== */
#contact{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 70vh;
}

.contact__info__upper__container{
    display: flex;
    justify-content: center;
    border-radius: 2rem;
    border: 1.5px solid #92b6fc;
    margin: 2rem auto;
    padding: 0.5rem;
}

.contact__info__container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin: 1rem;
}

.contact__info__container a,
footer p a{ 
    text-decoration: none;
    text-underline-offset: 7px;
    color: #fff;
    transition: .3s ease;
}

.contact__info__container a:hover,
footer p a:hover{
    color: #92b6fc;
    text-decoration: underline;
    text-underline-offset: 7px;
}

.contact__info__container p { font-size: larger; }

#contact .fa-envelope,
#contact .fa-phone{
    font-size: 1.8rem;
    padding: 5px 5px;
    border-radius: 50%;
    color: #252b37;
    background: white;
}

#contact .fa-phone{
    padding: 5px 9px;
}





/* =========================================== */
/*       FOOTER CSS                            */
/* =========================================== */
footer{
    height: 26vh;
    margin: 0 1rem;
}

footer p { text-align: center; }